<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biblioteka <%= " | #{@tytul_strony}" if @tytul_strony %></title>
        <%= stylesheet_link_tag('application', :media => 'all') %>
        <%= javascript_include_tag('application') %>
  </head>
  <body>

<!-- nawigacja początek -->
  <%= render(:partial=>"menu") %>
<!-- nawigacja koniec -->


<!-- treść strony poczatek -->
  <div id="content">
    <%= yield %>
  </div>

<!-- treść strony koniec -->


<!-- stopka początek -->
    <div id="footer">
      <div class="container">
        <p class="text-muted">
          WIT - Robert Mosakowski
        </p>
      </div>
    </div>
<!-- stopka koniec -->

  </body>
</html>